pandas
numpy
pyspark
pyarrow
requests
python-dotenv
sqlalchemy
pymssql
openpyxl
databricks-sql-connector
snowflake-connector-python[pandas]
snowflake-sqlalchemy
azure-storage-blob
azure-identity
apache-airflow-providers-microsoft-mssql
apache-airflow-providers-apache-spark
apache-airflow-providers-databricks
apache-airflow-providers-snowflake
apache-airflow-providers-microsoft-azure
