.env

logs/
plugins/
data/*.csv

__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log

airflow.db
standalone_admin_password.txt
simple_auth_manager_passwords.json.generated

*.bak
*.tmp